<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/forum/views/style.css">
    <script src="/forum/views/script.js"></script>
    <link rel="icon" type="image/x-icon" href="/forum/views/i.ico">
    <title>Accueil - Blog Maxim</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="/forum/profil/logoeshard.png" alt="logo_eShard" class="logoeshard">
        </div>
        <form action="/">
            <button class="forum">Rapport de stage eShard - Maxim Doublait</button>
        </form>
        <div class="addpost" id="addpost">
            <form action="/addpost">
                <button>Add New Post</button>
            </form>
        </div>
            <div class="user-log" id="user-profile">
                <form action="/login">
                    <button class="button_login">Login</button>
                </form>
                <form action="/adduser">
                    <button class="button_sign_up">Sign up</button>
                </form>
            </div>
        <div class="picture-log" id="name">
            {{if ne .Notifs 0}}
            <p class="notifs">{{.Notifs}}</p>
            {{end}}
            <form action="/profile" method="post" class="pict-log-height">
                <button id="cercle-log"  style="background-image: url('forum/profil/{{.User.Avatar}}');"></button>
            </form>
            <form action="/logout" method="POST" >
                <button class="log-out">Logout</button>
            </form>
        </div>
    </header>
    <main>
        <div class="container">
            {{range .Post}}
                <div class="post-comment">
                    <div class="points">
                        <input type="hidden" name="post_id" value="{{.Pid}}">
                    </div>
                    <button onclick="NewComment(id)" id="{{.Pid}}" type="button" class="post">
                        <div class="info-user-post">
                            <div id="cercle" style="background-image: url('forum/profil/{{.User.Avatar}}');"></div>
                            <p>{{.User.Username}}</p>
                            <form action="/like" method="post" id="submitlike">
                                <input id="inputlike" type="hidden" name="like" value="">
                            </form>
                            <div class="heart-counter">
                                <i class="/{{.Pid}} 0 fa fa-heart {{.LikeActive}} {{.User.Uid}}"></i>
                                <p2 class="like-counter">{{.Like}}</p2>
                            </div>
                        </div>
                        <div class="post-content">
                            <p class="content">{{.Content}}</p>
                            <br>
                            {{if ne .ContentPhoto "rien"}}
                                <img src="forum/profil/{{.ContentPhoto}}">
                            {{end}}
                            <p class="date">{{.Date}}</p>
                        </div>
                    </button>
                {{end}}
            </div>
        </main>
    <script> 
        UserPermissions("{{.User.Type}}");
        Like();
    </script>
</body>
</html>